In [1]:
from db import DB

In [2]:
import pandas as pd

In [22]:
scoreDF = pd.DataFrame(list(DB.find({"kind": "Scores"}, {"_id": 0})))

In [23]:
scoreDF.head()

     kind overall      pid product source  外观 性价比  性能  拍照  续航
0  Scores     8.4  1160028     P10    ZOL   8   8   8  10   8
1  Scores     9.2  1160028     P10    ZOL  10   8  10  10   8
2  Scores     9.2  1160028     P10    ZOL  10  10   8  10   8
3  Scores     9.2  1160028     P10    ZOL  10   8  10  10   8
4  Scores    10.0  1160028     P10    ZOL  10  10  10  10  10

In [24]:

scoreDF = scoreDF.dropna()
scoreDF.to_csv("ZOL_Scores.csv")

In [27]:
scoreDF['camera'] = scoreDF['拍照'].apply(int)

In [29]:
scoreDF.head()

     kind overall      pid product source  外观 性价比  性能  拍照  续航  camera
0  Scores     8.4  1160028     P10    ZOL   8   8   8  10   8      10
1  Scores     9.2  1160028     P10    ZOL  10   8  10  10   8      10
2  Scores     9.2  1160028     P10    ZOL  10  10   8  10   8      10
3  Scores     9.2  1160028     P10    ZOL  10   8  10  10   8      10
4  Scores    10.0  1160028     P10    ZOL  10  10  10  10  10      10

In [32]:
scoreDF.groupby(['product', 'camera']).count()[['kind']]

                      kind
product       camera
P10           2         24
              4          7
              6         32
              8         69
              10       144
Pixel XL      8          2
S8            2          6
              4          2
              6         16
              8         25
              10       290
iPhone 7 Plus 2         13
              4          4
              6         32
              8         58
              10        64

In [33]:
pconline = pd.DataFrame(list(DB.find({'kind': 'Scores', 'source': 'PConline'})))

In [34]:
pconline.head()

,_id,kind,overall,pid,product,source,屏幕显示,性价比,拍照效果,流畅度,电池与续航
0,59ec6f32b735f761862b64be,Scores,3.6,616067_comment,iPhone 7 Plus,PConline,5.0,2.0,4.0,4.0,3.0
1,59ec6f32b735f761862b64bf,Scores,3.8,616067_comment,iPhone 7 Plus,PConline,5.0,2.0,5.0,4.0,3.0
2,59ec6f32b735f761862b64c0,Scores,4.4,616067_comment,iPhone 7 Plus,PConline,4.0,4.0,5.0,5.0,4.0
3,59ec6f32b735f761862b64c1,Scores,4.2,616067_comment,iPhone 7 Plus,PConline,5.0,4.0,3.0,5.0,4.0
4,59ec6f32b735f761862b64c2,Scores,4.2,616067_comment,iPhone 7 Plus,PConline,5.0,3.0,4.0,5.0,4.0

In [36]:
pconline.to_csv("PConline_Scores.csv")

In [37]:
pconline['camera'] = pconline['拍照效果'].apply(float)

In [41]:
pconline.groupby(['product', 'camera']).count()[['kind']]

                      kind
product       camera
P10           1.0        2
              2.0       16
              3.0       26
              4.0       42
              5.0       10
S8            1.0        1
              2.0        6
              3.0       11
              4.0       19
              5.0       11
iPhone 7 Plus 1.0        1
              2.0        1
              3.0       61
              4.0      108
              5.0       46